################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HM-6/.vs/HM-6/v15/Server/sqlite3
